{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        {% for accessory in accessories %}
            <h2>{{accessory.name}}</h2>
            <img src="{{accessory.url}}" class="accessory-illustration"/>
        {% endfor %}
    </div>
{% endblock %}
