{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        <ul>
            {% for accessory in accessories %}
                <li>
                    <h2>{{ accessory.name }}</h2>
                    <img src="{{ accessory.url }}" alt="{{ accessory.name }}" style="max-width: 100px;">
                    <p><a href="{{ accessory.url }}" target="_blank">View Image</a></p>
                </li>
            {% else %}
                <p>No accessories found.</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
