{% extends 'layout.html.twig' %}
{% block content %}

<div class="main-container">
  <h1>My accessories</h1>
    {% for abdoul in accessories %}
            <figure>
                <img src="{{ abdoul.url }}" alt="{{ abdoul.name|raw  }}">
                <figcaption>Nom: {{ abdoul.name|raw }}</figcaption>
            </figure>
    {% endfor %}
</div>
{% endblock %}
