.cupcakeshow {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    background-color: pink;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid darkmagenta;
}